/*------------------------------------------------- ||Reset -------------------------------------------------------------------------------------------------------------------*/
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
 }
button{
    font: inherit;
}


/* --------------------------------------------------------------------------------||Variables -------------------------------------------------------------------------*/
:root {
    /* FONTS */
    --FF:"Roboto", sans-serif;
    --FF-HEADINGS:"Montserrat", sans-serif;
    --FS: clamp(1rem, 2.2vh, 1.5rem);
    --FS--HEADINGS:clamp(2.5rem, 2.2vh, 1.5rem);
    /* COLORS */
    --BGCOLOR-FADE:#021825;
    --BGCOLOR: #05131d;
    --BGIMAGE: linear-gradient(to bottom, var(--BGCOLOR), var(--BGCOLOR-FADE));
    --BODY-BGCOLOR: #091e2c;
    --BORDER-COLOR: #082f49;
    --BUTTON-COLOR: #e0f2fe;
    --HEADING-FONT-COLOR:#e0f2fe;    
    --BUTTON-HOVER:#082f49;
    --BUTTON-COLOR-TEXT:#05131d;
    --BUTTON-HOVER-TEXT:#e0f2fe;
    --BUTTON-HOVER-SHADOW:0px 4px 0px 0px #0284c7;
    --HEADING-FONT-COLOR:#e0f2fe;
    --FONT-COLOR: #e0f2fe;
    --HEADER-BGCOLOR: #051a29;
    --HEADER-COLOR: #FFF;
    --HEADER-COLOR-HOVER:#1294a5;
    --HEADER-FCOLOR-HOVER:#021825;
    --HERO-COLOR: #0a293b;
    --HERO-COLOR-FADE:#08273b;
    --HERO-GRADIANT:linear-gradient(to bottom, var(--HERO-COLOR), var(--HERO-COLOR-FADE));
    --HERO-SBUTTON-COLOR:white;
    --HERO-SBUTTON-BCOLOR:#DDD;
    --LINK-ACTIVE: #e0f2fe;
    --LINK-HOVER-BGCOLOR:#0c4249;
    --LINK-COLOR:#e0f2fe;
    --LINK-HOVER:#e0f2fe;
    --LINK-HOVER-BGCOLOR:#051a29;
    --LIST-COLOR: #000;
    --NAV-BGCOLOR: #082f49;
    --CATEGORIES-COLOR:#122938;
    --CATEGORIES-ICOLOR:#0ea5e9;
    --FOOTER-BGCOLOR:#051a29;
    --FOOTER-COLOR:#FFF;
    --FOOTER-NEWS-BUTTON:#0284c7;
    --FOOTER-NEWS-BUTTON-HOVER:#056596;
    --SOCIAL-LINKS-COLOR:#FFF;
    --SOCIAL-LINKS-HOVER:#0c5174;
    --SHOP-BUTTON-COLOR:#ecf8ff;
    --SHOP-BUTTON-HVCOLOR: #FFF;
    --GAMECARD-BGCOLOR:#122938;
    --ABContainer-COLOR:#0b2d42;
    --ABContainer-COLOR-HOVER:#010f1a;
    --PRODUCTS-COLOR:#122938;
    --GAME-PRICE:#2ecc71;

    /* BORDERS */
    --BORDERS: 1px solid var(--BORDER-COLOR);
    --BORDER-RADIUS: 15px;

    /* STANDARD PADDING */
    --PADDING-TB: 0.25em;
    --PADDING-SIDE: 2.5%;

    /* STANDARD MARGIN */
    --MARGIN: clamp(1em, 2.5vh, 1.5em) 0;
}

/*---------------------------------------------------------------|| Genral Styles----------------------------------------------------------------------------------*/

html{
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-size: var(--FS);
    font-family: var(--FF);
    background-color: var(--BGCOLOR);
    background-image: var(--BGIMAGE);
}

body{
    overflow-x: hidden;
    background-color: var(--BODY-BGCOLOR);
    color: var(--FONT-COLOR);
    min-height: 100vh;
    max-width: 1600px;
    margin: auto;
    border-left: var(--BORDERS);
    border-right: var(--BORDERS);
    box-shadow: 0 0 10px var(--BORDER-COLOR);
}
p{
    line-height: 1.5;
}


/*--------------------------------------------------Header-----------------------------------------------------------------*/
.header{
    display: grid;
    grid-template-columns: 1fr auto;
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: var(--HEADER-BGCOLOR);

}
.leftside, .rightside{
    display: flex;
    align-items: center;
}
.logo img{
    padding-left: 20px;
    width: 50%;
}
.header__nav{
    background-color: var(--NAV-BGCOLOR);
    border-bottom: var(--BORDERS);
    font-weight: bold;
    box-shadow: 0 6px 5px -5px var(--BORDER-COLOR);

}
.header__ul {
    overflow: hidden;
    background-color: var(--HEADER-BGCOLOR);
  }
  
  .header__ul a {
    float: left;
    display: block;
    color: var(--HEADER-COLOR);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .header__ul a:hover {
    background-color: var(--HEADER-COLOR-HOVER);
    color:var(--HEADER-FCOLOR-HOVER);
  }
  
  .header__ul .icon {
    display: none;
  }
  
 /*--------------------------------------------------------------------------||Footer-----------------------------------------------------------------------------------------*/

 footer {
    background-color: var(--FOOTER-BGCOLOR);
    color: var(--FOOTER-COLOR);
    padding: 3rem 2rem 1rem;
}

.Footer__Content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.Footer__Section h3 {
    margin-bottom: 1rem;
}

.Social__Links {
    display: flex;
    gap: 1rem;
}

.Social__Links {
    color: var(--SOCIAL-LINKS-COLOR);
    font-size: 1.5rem;
    transition: color 0.3s ease;
}

.Social__Links a:hover {
    color: var(--SOCIAL-LINKS-HOVER);
}

.Newsletter__Form {
    display: flex;
    gap: 0.5rem;
}

.Newsletter__Form input {
    padding: 0.5rem;
    border: none;
    border-radius: 3px;
    flex-grow: 1;
}

.Newsletter__Form button {
    background-color: var(--FOOTER-NEWS-BUTTON);
    color: var(--FOOTER-COLOR);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.Newsletter__Form button:hover {
    background-color: var(--FOOTER-NEWS-BUTTON-HOVER);
}

.Footer__Bottom {
    text-align: center;
    margin-top: 2rem;
    padding-top: 1rem;
    border-top: 1px solid var(--gray-light);
}


/*---------------------------------------------------------------------------------||Home Page----------------------------------------------------------------------------------------------------------------------------*/

/*||Intro*/
.Hero {
    background-image: url('../images/banner.jpg');
    background-size: cover;
    background-attachment: fixed; 
    background-position: center;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--white);
}
.Hero__content{
    position: relative; 
    background:#010f1a; 
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 20px;
}
.Hero__content  h1{
    font-family: var(--FF-HEADINGS);
    text-align: center;
    font-size:var(--FS--HEADINGS) ;
    letter-spacing: 0.1em;
    padding: var(--PADDING-SIDE) var(--PADDING-TB);
}
.Hero__content p{
    font-family: var(--FF);
    text-align: center;
    font-size: var(--FS);
    line-height: 1.5;
    padding-bottom: 2rem;

}
.search-bar {
    display: flex;
    align-items: center;
    background-color: var(--HERO-SBUTTON-COLOR);
    border-radius: 5px;
    overflow: hidden;
    max-width: 300px; 
    margin: 20px auto; 
    border: 1px solid var(--HERO-SBUTTON-BCOLOR);
}

.search-bar input[type="text"] {
    border: none;
    padding: 10px;
    font-size: 16px;
    outline: none;
    flex: 1; 
}

.search-bar button {
    background-color:var(--BUTTON-COLOR);
    border: none;
    padding: 10px 12px;
    color: var(--BUTTON-COLOR-TEXT);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar button:hover{
    background-color: var(--LINK-HOVER-BGCOLOR);
    color: var(--LINK-HOVER);
}

.search-bar button i {
    font-size: 20px; 
}
/*||Unordered List*/

.Content__Wrapper {
    display: grid;
    place-items: center; 
    height: 100%; 
    padding: 1rem;
}
.Unordered__Container, .Ordered__Container {
    display: grid; 
    grid-template-columns: 1fr 2fr; 
    align-items: center;
    gap: 20px;
    padding: 50px; 
    box-shadow: 2PX 8px 16px rgba(0, 0, 0, 0.1); 
    border-radius: 10px; 
    max-width: 1400px; 
    width: 100%; 
}

.Un__Con__left, .Or__con__right {

    text-align: center; 
    padding-right: 1em;
}

.Un__Con__left img, .Or__con__right img {
    max-width: 100%; 
    height: auto;
    max-height: 700px;
}

.Un__Con__right, .Or__con__left {
    text-align: left; 
}

.Unordered__list, .Ordered__list  {
    padding: 0;
    margin: 0;
}

.Unordered__list li, .Ordered__list li {
    margin-bottom: 15px;
}

.Unordered__list h3, .Ordered__list h3 {
    margin-bottom: 5px;
    font-family: var(--FF-HEADINGS);
    font-size: 1.8em;
}

.Unordered__list p, .Ordered__list p {
    margin: 0;
    font-size: 16px;
    color: var(--CATEGORIES-PCOLOR);
}

.Unordered__list li::marker, .Ordered__list li::marker{
    font-size: 1.5em;
}

.Unordered__Container:hover, .Ordered__Container:hover{
    border: 2PX solid var(--HEADER-COLOR-HOVER);
}

.Unordered_img img, .Ordered__image{
    display: block; 
    transition: transform 0.3s ease; 

}
.Unordered_img:hover, .Ordered__image:hover{
    transform: scale(1.05);
}
/*||Featured Products*/
.featured__products {
    padding: 2rem 2rem;
    border-top: 2px solid var(--BGCOLOR-FADE);
}
.featured__products h2{
    text-align: center;
}
.product__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
    padding: 2rem;
}

.product__card {
    background-color: var(--PRODUCTS-COLOR);
    border-radius: 14px;
    padding: 1.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
    height: 100%;
}

.product__card:hover {
    transform: translateY(-5px);
}

.product__card img {
    border-radius: 12px;
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.price{
    opacity: 0;
    transition: opacity 0.3s ease;
}
.product__card:hover .price{
    opacity: 1;
}
.Cutprice{
    text-decoration:line-through;
}

.shop__button {
    background-color: var(--BUTTON-COLOR);
    color: var(--BUTTON-COLOR-TEXT);
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    font-size: 0.9rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    align-self: flex-end; 
}

.shop__button:hover {
    background-color: var(--BUTTON-HOVER);
    color: var(--BUTTON-HOVER-TEXT);
}
.Categories {
    text-align: center;
    padding: 20px;
    background-color: var(--CATEGORIES-BGCOLOR); 
}

.Categories__Grid {
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    gap: 20px; 
    margin-top: 20px;
}

.Categories__Box{
    background-color: var(--PRODUCTS-COLOR);
    border-radius: 14px;
    padding: 20px; 
    text-align: left; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    text-decoration: none; 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    justify-content: space-between; 
    align-items: center; 
    height: 100%; 
    box-sizing: border-box;
}

.Categories__Box:hover {
    transform: translateY(-5px); 
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2); 
}
.Categories__Box img{
    border-radius: 14px;
}

.Categories__Box i {
    font-size: 40px; 
    margin-bottom: 10px;
    display: block; 
}

.Categories__Box h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.Categories__Box p {
    padding: 1rem;
    font-size: 0.9rem;
    margin-bottom: 10px;
    line-height: 1.5;
    text-align: justify;
}

.CCB__Btutton{
    background-color: var(--BUTTON-COLOR);
    color: var(--BUTTON-COLOR-TEXT);
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    display: inline-block;
    margin-top: auto;
}
.CCB__Btutton:hover{
    background-color: var(--BUTTON-HOVER);
    color: var(--BUTTON-HOVER-TEXT);
}

/*------------------------------------------------ ||About Page ------------------------------------------------------------*/
.page__header{
    padding-left: 1rem;
    border-bottom: 1px solid ;
}
.page__header h1{
    font-size:larger;
}
.about__content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    padding-bottom: 2rem;
    

}
.about__content p{
    padding-bottom: 1rem;
    text-align: justify;

}
.about__content img{
    padding-bottom: 2rem;
}
.about__section{
    padding-left: 2rem;
    border-left: 5px solid black;
}
.mission__vision{
    padding-left: 2rem;
    border-left: 5px solid black;
}
.team__section{
    padding-top: 1rem;
}
.team__section h2{
    text-align: center;

}
.team__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
    margin: 2rem 0;
    justify-items: center;
}

.team__member {
    background-color: #041724;
    width: 300px;
    height: 400px; 
    border: 1px solid #041724; 
    border-radius: 1rem;
    text-align: center;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    padding: 1rem; 
    box-sizing: border-box;
}
.team__member:hover{
    transform: translateY(-5px);
    background-color:#091a24 ;
}
.team__member img {
    width: 200px;
    height: 200px;
    object-fit: cover; 
    margin-bottom: 1rem;

}
.ABContent__Wrapper {
    display: grid;
    place-items: center; 
    height: 100%; 
    padding-top: 3rem;
    padding-bottom: 1rem;
}
.ABUnordered__Container {
    display: grid; 
    grid-template-columns: 1fr 2fr; 
    align-items: center;
    gap: 20px;
    padding: 50px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 10px; 
    max-width: 1400px; 
    width: 100%; 
    background-color: var(--ABContainer-COLOR);
}

.ABUnordered__Container:hover {
    transform: translateY(-5px);
    background-color:var(--ABContainer-COLOR-HOVER);
}
.ABUn__Con__left {
    text-align: center; 
    padding-right: 1em;
}

.ABUn__Con__left img {
    max-width: 100%; 
    height: auto;
    max-height: 700px;
}

.ABUn__Con__right {
    text-align: left; 
}

.ABUnordered__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.ABUnordered__list li {
    margin-bottom: 15px;
}

.ABUnordered__list h3 {
    margin-bottom: 5px;
    font-family: var(--FF-HEADINGS);
    font-size: 1.8em;
}

.ABUnordered__list p {
    margin: 0;
    font-size: 16px;
    color: var(--CATEGORIES-PCOLOR);
}

.AboutUs__Table{
    width: 80%;
    margin: 0% auto;
    border-collapse: collapse;
    font-size: 16px;
    text-align: center;
}

.AboutUs__Table th, 
.AboutUs__Table td{
    padding: 15px;
    border: 1px solid black;
}

.AboutUs__Table tfoot{
    text-align: center;
}

.AboutUs__Table td:hover{
    background-color: var(--ABContainer-COLOR-HOVER);
}
/*----------------------------------------------------------------Upcoming Games---------------------------------------------------------------------------------*/
.Upcoming__page__Header{
    padding-left: 1rem;
    padding-bottom: 2rem;
}
.Upcoming__dis{
    padding-top: 1rem;
}
.timeline {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    display: flex; 
    flex-direction: column;
    gap: 2rem;
}

.timeline__item {
    border-left: 2px solid white;
    padding-left: 1.5rem;
    position: relative;
    width: 100%; 
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column; 
    gap: 1rem;
}

.timeline__item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}


.release__date {
    font-weight: bold;
    color: var(--FONT-COLOR);
    padding: 1rem;
    text-align: center;
    background:var(--BORDER-COLOR); 
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0; 
    transition: opacity 0.3s ease; 
}

.timeline__item:hover .release__date {
    opacity: 1; 
}

.timeline__item:hover{
    transform: translateX(10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}
.timeline__item .game__details {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.timeline__item .game__details h3 {
    margin: 0;
    font-size: 1.5rem;
    color: var(--FONT-COLOR);
}

.timeline__item .game__details span {
    font-size: 0.9rem;
}

.timeline__item .game__details p {
    font-size: 1rem;
    color: var(--FONT-COLOR);
}

.timeline__item .preorder__button {
    background-color: var(--BUTTON-COLOR);
    color:var(--FONT-COLOR);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
}

.timeline__item .preorder__button:hover {
    background-color: darken(var(--BUTTON-HOVER), 10%);
}
.dis__Box{
    display: grid;
    place-items: center;
    background-color: var(--CATEGORIES-COLOR);
    border: 1px solid var(--GAMECARD-BGCOLOR);
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 1400px;
    margin: 0 auto; 
}

.dis__Box p{
    text-align: justify;
    margin: 0; 
    line-height: 1.6
}

.dis__Box:hover{
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15); 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/*-------------------------------------------------||Consoles Page-----------------------------------------------------------------------------------------------*/

.consoles__grid{
    border-top: 2px solid var(--BORDER-COLOR);
}
.consoles__grid h2{
    padding: 1rem;
    text-align: center;
}

/*-------------------------------------------------||Gaming Peripherals Page-----------------------------------------------------------------------------------------------*/
.peripherals__products h2{
    padding: 1rem;
    text-align: center;
}
.peripherals__products img{
    background-color: white;
}


/*-------------------------------------------------||Game Page---------------------------------------------------------*/
.Gpage-header {
    gap: 2rem; 
    padding: 2rem;
}

.featured__games {
    padding: 4rem 2rem;
    border-bottom: 2px solid var(--BORDER-COLOR);
}
.featured__games h2{
    text-align: center;
}

.pop__games{
    border-bottom: 2px solid var(--BORDER-COLOR);
}
.games, .pop__games {
    padding: 2rem;
    background-color: var(--BGCOLOR); 

}

.games h2, .pop__games h2 {
    text-align: center;
    color: #fff;
    margin-bottom: 2rem;
}
.ft_game__grid {
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    gap: 20px; 
    margin-top: 20px;
}
.game__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.5rem;
}

.ft__game__card{
    background-color: var(--PRODUCTS-COLOR);
    border-radius: 14px; 
    text-align: left; 
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.1); 
    text-decoration: none; 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 

}
.game__card {
    background-color:var(--GAMECARD-BGCOLOR);
    color: var(--FONT-COLOR); 
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.5);
}
.game__card:hover {
    transform: translateY(-5px);
}
.ft__game__card:hover {
    box-shadow: 0px 8px 16px rgba(91, 203, 251, 0.671); 
    transform: translateY(-5px);
}
.ft__game__card img {
    width: 100%;
    border-radius: 14px;
    height: auto;
    transition: box-shadow 0.3s ease;
}
.ft__game__card img:hover{
    
    filter: blur(5px);
}
.game__card img {
    object-fit:fill;
    border-radius: 14px;

}
.game__discription {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-radius: 14px;
    background: rgba(0, 0, 0, 0.8);
    color: var(--FONT-COLOR);
    text-align: center;
    display: none;
}
.game__card img:hover{
    filter: blur(5px);
}
.game__card:hover .game__discription {
    display: block; 
}
.ft__game__card:hover .game__discription {
    display: block; 
}
.game__discription h3 {
    font-size: 22px;
    margin-bottom: 10px;
    color: var(--FONT-COLOR);
}

.game__discription p {
    font-size: 14px;
    color: var(--FONT-COLOR);
    line-height: 1.4;
}

.platform, .game__price {
    display: block;
    font-size: 14px;
    margin-bottom: 10px;
    color: var(--FONT-COLOR);
}

.platform {
    font-style: italic;
}

.game__price {
    font-size: large;
    font-weight: bold;
    color: var(--GAME-PRICE);
}

/*-----------------------------------------||FAQ Page---------------------------------------------------------------------------*/
.faq__content {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
}

.faq__item {
    background-color: var(--white);
    border-radius: 5px;
    margin-bottom: 1rem;
    padding: 1rem;
}

.faq__question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.faq__answer {
    margin-top: 1rem;
}

.faq__item.active .faq__answer {
    display: block;
}

.form__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh; 
    width: 100%;
  }
  
  .form__container h2 {
    margin-bottom: 1rem;
    color: var(--FONT-COLOR);
  }
  
  .contact__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: var(--CATEGORIES-COLOR);
    border: 1px solid var(--BORDER-COLOR);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
  }
  
  .contact__form label {
    text-align: left;
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
    color: var(--FONT-COLOR);
  }
  
  .contact__form input,
  .contact__form textarea {
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
    width: 100%;
  }
  
  .contact__form input:focus,
  .contact__form textarea:focus {
    border-color: var(--HEADER-COLOR-HOVER);
    outline: none;
  }
  
  .contact__form button {
    background-color: var(--BUTTON-COLOR);
    color: var(--FONT-COLOR);
    padding: 0.8rem;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .contact__form button:hover {
    background-color: var(--BUTTON-HOVER);
    color: white;
  }
